body{
    background-color: rgb(41, 48, 92);
    overflow-x: hidden;
    color: #e7e9f0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}